//? ---------| Colors |---------
$clr-white:              rgb(255,255,255);
$clr-black:              rgb(0,0,0);
$clr-lightGrey:          rgb(160, 160, 160);
$clr-main:               rgb(121, 0, 255);
$clr-secondary:          rgb(147, 255, 216);
$clr-accent:             rgb(188, 154, 68);
$clr-accent-op:          rgba(188, 154, 68,0.4);
$clr-brun:               rgb(29,24,24);

// palette de couleur
$clr-P1-C1:              rgb(255, 99, 99);
$clr-P1-C2:              rgb(255, 171, 118);
$clr-P1-C3:              rgb(255, 253, 162);
$clr-P1-C4:              rgb(186, 255, 180);

//? ---------| fonts |---------
$fnt-size: 1.5rem; 
$fnt-main: 'Raleway', sans-serif;
$fnt-secondary: 'Montserrat', sans-serif;
